// ==== STYLES ==== //

// Do not declare anything before the metadata block; this first section is solely for variable, function, and mixin definitions
// Note: `bower_components` is already in Sass's path

// Scut, a Sass utilities library: https://davidtheclark.github.io/scut/
@import "scut";

// Configuration variables and settings
@import "config";

// Library: mixins, functions, etc. specific to this theme
@import "library";

/*!
Theme Name: #{metadata(theme-name)}
Theme URI: #{metadata(theme-uri)}
Author: #{metadata(theme-author)}
Author URI: #{metadata(theme-author-uri)}
Description: #{metadata(theme-description)}
Version: #{metadata(theme-version)}
License: #{metadata(theme-license)}
License URI: #{metadata(theme-license-uri)}
Tags: #{metadata(theme-tags)}
Template: #{metadata(theme-template)}
Text Domain: #{metadata(theme-text-domain)}
Domain Path: #{metadata(theme-text-domain-path)}
*/

@import "color";
@import "font";
@import "breakpoints";

@import "theme";

// Components
@import "header";
@import "footer";

// Pages
// @import "home";
